<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="myapp.com.dishwasherproject">

    <uses-permission android:name="android.permission.SET_ALARM" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@drawable/washdish"
        android:label="@string/DishWasher"
        android:roundIcon="@drawable/washdish"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
            android:name=".MainScreen"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Modes"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".Timer"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".More"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name=".popUp"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme.CustomTheme" />
        <activity android:name=".progressPopUp" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
        <activity android:name=".Notifications" android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"/>
    </application>

</manifest>